@media screen and (min-device-width: 800px) {
	li{
		display:inline-block;		
	}
	a{
		margin-left: 50px;
		padding-left: 150px;
		text-decoration: none;
		font-size: 20px;
		color: #800080;
	}

	.haut{
		display: block;
		color: #ffffff;
		height: 50em;
	}
}